
$blue: #1565c0;
$blue-light: #5e92f3;
$blue-dark: #003b8e;

$gray: #b0bec5;
$gray-light: #e2f1f8;
$gray-dark: #808e95;



html, body {
	height: 100%;
}



.o-layout {
	display: flex;
	height: 100%;
	flex-direction: column;

	.o-layout__header {
		background-color: $blue;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.o-layout__content {
		flex: 1;
		margin-top: 70px;
	}

	.o-layout__footer {
		 flex-shrink: 0;
	}
}

.c-button {
	background-color: $blue-dark;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	padding: .75em 2.25em;
	vertical-align: middle;
	border-radius: 50em;

	&:hover {
		background-color: $blue;
	}

	&.c-button--orange {
		background-color: #c07015;

		&:hover {
			background-color: #a15c0e;
		}
	}
}

.c-main-nav {    
	color: white;
	padding: .5em 0;

	.c-main-nav__logo {
		display: inline-block;		
		margin-right: 1em;
	}

	.c-main-nav__logo-inner {
		height: 4em;
	}

	.c-main-nav__items {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-flex;
	}

	.c-main-nav__item {
		padding: 1em 2em;
	}

	.c-main-nav__anchor {
		color: inherit;
		text-decoration: none;
	}
}

.c-main-footer {
	.c-main-footer__top {
		background-color: $gray;
		padding: 2em 0;
	}
	
	.c-main-footer__bottom {
		background-color: $gray-dark;
		padding: 1em 0;
	}

	.c-main-footer__logo {
		display: inline-block;
	}

	.c-main-footer__logo-inner {
		height: 4em;
	}
}

.c-landing {
	.c-landing__section-title {
		font-family: 'Montserrat';
		font-size: 2.46em;
		font-weight: bold;
		margin: 0;
		margin-bottom: 2em;
	}

	.c-landing__splash-image {
		background-image: url("~@/assets/images/splash-1@2x.jpg");
		color: white;
		height: calc(65vh - 70px);
	}

	.c-landing__splash-text {
		position: relative;
		height: 100%
	}

	.c-landing__splash-text-inner {
		font-family: 'Montserrat';
		font-size: 3.5em;
		font-weight: bold;
		margin: 0;
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
	}

	.c-landing__splash-intro {
		display: flex;
		align-items: center;	
		height: 35vh;
	}

	.c-landing__splash-description {
		display: flex;
		align-items: center;
	}

	.c-landing__splash-logo {
		margin-right: 3.6em;
	}

	.c-landing__splash-logo-inner {
		height: 8em;
	}

	.c-landing__splash-description-title {
		font-weight: bold;
		font-size: 2em;
		margin-bottom: 1em;
	}

	.c-landing__splash-description-content {
		font-size: 1.5em;
		margin: 0;
	}

	.c-landing__splash-separator {
		border: .14	em solid lightblue;
	}

	.c-landing__solutions {
		margin: 6em 0;
	}

	.c-landing__solutions-cta {
		margin-top: 6em;
		text-align: center
	}

	.c-landing__solutions-cta-description {
		font-size: 1.26em;
		margin-right: 3.25em;
	}


	.c-landing__grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1em;
	}

	.c-landing__grid-item {
		padding: 1em;
		width: calc(100% / 3);
	}

	.c-landing__grid-item-title {
		font-family: 'Montserrat';
		font-size: 1.18em;
		font-weight: bold;
		margin-bottom: 1.15em;
	}

	.c-landing__grid-item-description {
		 margin: 0;
	}
	
	.c-landing__organization {
		color: white;
		padding: 6em 0em;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}

	.c-landing__organization-bg {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		transform: rotateZ(20deg) scale(10) translateX(-.2%);
		transform-style: preserve-3d;
	}

	.c-landing__organization-bg-left {
		background-color: #0d47a1;
		flex: 1;
		width: 50%;
	}

	.c-landing__organization-bg-right {
		background-color: #455a64;	
		flex: 1;
		width: 50%;
		margin-left: -.1em;
	}

	.c-landing__organization-content {
		display: flex;
	}

	.c-landing__organization-content-description {
		font-size: 1.5em;
		margin-bottom: 2em;
	}

	.c-landing__organization-button {
		display: block;
		margin: 0 auto;
	}

	.c-landing__organization-content-inner {
		flex: 1;
		padding: 0 4em;
	}

	.c-landing__work {
		background-color: #E1E2E1;
		padding: 6em 0;
	}

	.c-landing__work-showcase {
		display: flex;
		justify-content: space-between;
	}

	.c-landing__work-showcase-item {
		background-color: white;
		box-shadow: 0 0 .5em rgba(0, 0, 0, 0.25);
		padding: 2em;
		border-radius: 2px;
		text-align: center;
	}

	.c-landing__showcase-item-image {
		border: 1px solid;
		display: block;
		height: 200px;
		width:  200px;
	}

	.c-landing__showcase-item-label {
		margin-bottom: 0;
		margin-top: 2em;
	}

	.c-landing__quotes {
		padding: 6em 0;
	}

	.c-landing__quote {
		display: flex;
	}

	.c-landing__quote-item {
		box-shadow: 0 0 .15em rgba(0, 0, 0, 0.25);
		flex: 1;
		margin: .25em 0;
		padding: 2em;
		margin-right: 8em;

		&:last-child {
			margin-right: 0;
		}
	}
	
	.c-landing__contact {
		background-color: $blue-light;
		padding: 6em 0;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }
	.o-container {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1300px) {
	.o-container {
		max-width: 1280px;
	}
}